</body>

<footer>
    <img src="/images/logo.png" alt="DSC_logo" class="logo-icon">
    <a href="" class="no-color-line" id="fb-icon">
        <object data="facebook.svg"></object>
        <span> Google DSC CCU</span>
    </a>
    <span>Copyright © 2021 GDSC CCU</span>
</footer>

</html>