<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' type='text/css' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>GDSC CCU</title>
</head>

<body>
    <!--導覽列-->
    <div id="navbar">
        <img src="/images/logo.png" alt="DSC_logo" class="logo-icon">
        <div id="navtext">
          <a href="index.html" class="no-color-line">主頁</a>
          <a href="announcement.html" class="no-color-line activity">公告</a>
          <a href="" class="no-color-line" id="about">
            <div>
              <span>關於</span>
              <span class="material-icons">
                arrow_drop_down
              </span>
            </div>
          </a>
          <div id="about-content">
            <a href="" class="no-color-line"><object data="dsc_icon.svg" ></object><span> 關於 GDSC</span></a>
            <a href="" class="no-color-line"><object data="dsc_icon.svg" ></object><span> 關於 GDSC CCU</span></a>
            <a href="" class="no-color-line"><object data="facebook.svg" ></object><span> Facebook</span></a>
          </div>
        </div>
      </div>