<% if(announcement){ %>
    <div id="navbar">
        <img src="/images/logo.png" alt="DSC_logo" class="logo-icon">
        <div id="navtext">
          <a href="/management/report" class="no-color-line" id="report">回報</a>
          <a href="/management/announcement" class="no-color-line activity" id="announcement">公告</a>
          <a href="" class="no-color-line" id="logout">登出 <%= email %> </a>
        </div>
      </div>
<% }else{ %>
    <div id="navbar">
        <img src="/images/logo.png" alt="DSC_logo" class="logo-icon">
        <div id="navtext">
          <a href="/management/report" class="no-color-line activity" id="report">回報</a>
          <a href="/management/announcement" class="no-color-line" id="announcement">公告</a>
          <a href="" class="no-color-line" id="logout">登出 <%= email %> </a>
        </div>
      </div>
<% } %> 